
<div class="chatContainer">
  <div class="container p-to45">
    <div class="row" style="height: 50vh">
      <div class="col-md-3 ">
        <div class="avatarFrameOnline">
            <img src="assets/img/generic_avatar.png" alt="avatar" class="avatarImage img-fluid">
        </div>
      </div>
      <div class="col-md-auto">
        <div class="cuadrado"></div>
      </div>
    </div>
    <div class="row p-to45">
      <div class="col-md-3">
        <div class="avatarFrameOnline">
            <img src="assets/img/generic_avatar.png" alt="avatar" class="avatarImage img-fluid">
        </div>
      </div>
      <div class="col-md-auto">
        <textarea name="chatContent" id="chat" cols="50" rows="3" class="chatContent"></textarea>
        <div class="iconContainer">
          <img src="assets/img/zumbido.png" alt="" class="icon">
        </div>
        <div class="col col-lg-2 buttonContainer">
          <button class="btn-send" type="">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
