<div class="profileContainer">
  <div class="container p-to45">
    <div class="row">
      <div class="col-md-3">
        <div class="avatarFrameOnline">
          <img src="assets/img/generic_avatar.png" alt="avatar" class="avatarImage img-fluid">
        </div>
        <hr>
        <span>Cambiar foto</span><br>
        <div class="custon-file-upload">
          <input type="file" name="uploadImage" id="uploadImg">
          subir Avatar
        </div>
      </div>
      <div class="col-md-9">
        <div>
          <label fixed>Nick</label>
          <input type="text" class="form-control">
        </div>
        <div>
          <label fixed>Subnick</label>
          <input type="text" class="form-control">
        </div>
        <div>
          <label fixed>Email</label>
          <input type="email" disabled class="form-control">
        </div>
        <div>
          <label fixed>Status</label>
          <select name="" id="" class="form-control">
            <option value="online">Conectado</option>
            <option value="away">Ausente</option>
            <option value="busy">Ocupado</option>
            <option value="appear_offline">Desconectado</option>
          </select>
        </div>
        <hr>
        <a href="" class="btn btn-primary btn-block">Guardar</a>
      </div>
    </div>
  </div>
</div>
